<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

  <variable name="logLayout"
            value="${date:format=yyyy-MM-dd HH\:mm\:ss} | thread=${threadid} | ${level:uppercase=true} | ${logger:shortName=true} | ${message}${exception:format=tostring}" />

  <targets>
    <target xsi:type="File"
            name="logFile"
            fileName="${basedir}/Log/Debug.log"
            layout="${logLayout}"
            archiveAboveSize="10485760"
            maxArchiveFiles="3"
            keepFileOpen="false"
            encoding="utf-8" />
    <target xsi:type="ColoredConsole"
            name="logConsole"
            layout="${logLayout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logFile" />
    <logger name="*" minlevel="Info" writeTo="logConsole">
      <filters defaultAction="Log">
        <when condition="contains('${message}',':: Getting text from element')" action="Ignore" />
        <when condition="contains('${message}',' :: Element')" action="Ignore" />
        <when condition="contains('${message}',':: Clicking via JavaScript')" action="Ignore" />
        <when condition="contains('${message}',':: Getting attribute')" action="Ignore" />
        <when condition="contains('${message}','No elements with locator')" action="Ignore" />
        <when condition="contains('${message}','Snapshot stabilisation attempt')" action="Ignore" />
        <when condition="contains('${message}','Browser') and contains('${message}','ready')" action="Ignore" />
        <when condition="contains('${message}','Navigate to URL')" action="Ignore" />
      </filters>
    </logger>
  </rules>

</nlog>
